if ! has nix_direnv_version || ! nix_direnv_version 2.1.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.1.1/direnvrc" "sha256-b6qJ4r34rbE23yWjMqbmu3ia2z4b2wIlZUksBke/ol0="
fi

# ARTIQ-7
# use flake git+https://github.com/elhep/artiq.git\?rev=38c72fdab41679c300c235d960e87b9e06bea5b4

use flake .